[user]
	email = {{ .email | quote }}
	name = Raymond Ha
	signingkey = {{ .signingkey | quote }}
[commit]
	gpgsign = true
[pull]
	rebase = true
[push]
  autoSetupRemote = true
  default = upstream
[rebase]
  autoStash = true
[gpg]
	program = gpg
[tag]
	gpgSign = true
[init]
	defaultBranch = main
[diff]
  external = difft
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
